html,
body {
    font-family: 'Microsoft YaHei', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.container {
    width: 100%;
    max-width: 640px;
    height: 100%;
    margin: 0 auto;
    background: #F1F1F1;
    position: relative;
    overflow: hidden;
}

.tabbar {
    background-color: white;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.10);
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3067rem;
    display: flex;
    flex-flow: row nowrap;
    a {
        display: block;
        flex: 1;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #4A4A4A;
        letter-spacing: -0.12px;
        text-decoration: none;
        box-sizing: border-box;
        transition: color 0.2s, background-color 0.2s, border 0.2s;
        &:not(:last-child) {
            border-right: 1px solid #E0E0E0;
        }
        &:hover,
        &.active {
            color: white;
            background-color: #F06292;
            border-color: #F06292;
        }
        &:active {
            background-color: #e05181;
            border-color: #e05181;
        }
    }
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 0.7733rem;
    text-align: center;
    width: 100%;
    img {
        height: 0.9333rem;
    }
}

.picker {
    #weui-picker-confirm {
        color: #F06292;
    }

    .weui-picker__item{
        font-size: 18px;
    }
}

.confirm {
    .weui-dialog__bd {
        padding: 1.2rem 20px 0.2rem 20px;
    }
    a:nth-child(2) {
        color: #F06292;
    }
}

.dialog {
    .weui-dialog__bd {
        padding: 1.2rem 20px 0.2rem 20px;
    }
    a {
        color: #F06292;
    }
}

.hide {
    display: none;
}


.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 0.46rem;
    width: 0.46rem;
}

.icon-male {
    background-image: url(../imgs/icon_male.png) !important;
}

.icon-female {
    background-image: url(../imgs/icon_female.png) !important;
}

.icon-sex {
    background-image: url(../imgs/icon_sex.png);
}

.icon-arrow {
    background-image: url(../imgs/icon_arrow.png);
}

.icon-switch {
    background-image: url(../imgs/icon_start.png);
    &.active {
        background-image: url(../imgs/icon_stop.png);
    }
}

.icon-start {
    background-image: url(../imgs/icon_start.png);
}

.icon-stop {
    background-image: url(../imgs/icon_stop.png);
}

.icon-restart {
    background-image: url(../imgs/icon_restart.png);
}

.icon-medal {
    border-radius: 50%;
    background: #F48FB1;
}

.icon-gold {
    background-image: url(../imgs/icon_gold.png);
}

.icon-silver {
    background-image: url(../imgs/icon_silver.png);
}

.icon-copper {
    background-image: url(../imgs/icon_copper.png);
}