.hidden {
  display: none;
}

.container {
  font-family: 'Microsoft YaHei', sans-serif;
  padding-bottom: 8vh;
}

.step {
  position: relative;
}

.step-img {
  display: block;
  width: 100vw;
  margin: 0 auto;
}

ul.size {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0 16px;
}

.size li {
  margin-bottom: 8px;
  padding: 12px 16px;
  color: #333;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.size li:active {
  background-color: #f5f5f5;
}

.size li label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.size li span.name {
  font-size: 18px;
}

.size li input {
  display: none;
}

.size li span.radio {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #e05181;
  border-radius: 50%;
}

.size li span.radio::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.size li input:checked + span.radio {
  background-color: #e05181;
}

.state {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 6vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #f06292;
  color: white;
  font-size: 14px;
}

.state .split {
  margin: 0 12px;
  display: inline-block;
  height: 3vh;
  width: 1px;
  background-color: white;
}

.form {
}

.form .field {
  padding: 0 8px;
}

.form .tip {
  padding: 0 8px;
  color: red;
  font-size: 14px;
  line-height: 20px;
}

.form .field input,
.form .field textarea {
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #aaa;
  margin: 0;
  width: 100%;
}

.toolbar {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  right: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
}

.toolbar button {
  color: white;
  height: 8vh;
  flex: 1;
  outline: none;
  border: none;
  background-color: #f06292;
}

.toolbar button:active {
  background-color: #e05181;
}

.upload-box {
  display: block;
  text-align: center;
  padding: 16px;
}

.upload-box .tip {
  color: red;
}

#btnUpload {
  display: inline-block;
}

#btnUpload span {
  background-color: #ffa500;
  color: white;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 4px;
}

#btnUpload span:active {
  background-color: #ee9400;
}

.upload-done {
}

.upload-done .header {
  z-index: 999;
  padding: 4px;
  background-color: #999;
  color: white;
}

.upload-done .imgs {
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 4px;
}

.upload-done .img {
  display: inline-block;
  margin: 1vw;
}
.upload-done .img label {
  display: inline-block;
}

.upload-done .img .preview {
  width: 20vw;
  height: 20vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;

  border: 1px solid #1e90ff;
  position: relative;
  box-sizing: border-box;
}

.upload-done .img input:checked + .preview::after {
  content: '√';
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 13px;
  color: white;
  height: 20px;
  width: 20px;
  background-color: #1e90ff;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}

.upload-ing .imgs-ing {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  padding: 4px;
}

.upload-ing .img-ing {
  display: inline-block;
  margin: 2vw;
}

.upload-ing .imgs-ing .preview {
  width: 20vw;
  height: 20vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;

  box-sizing: border-box;
  border: 1px solid transparent;
  position: relative;
}

.upload-ing .imgs-ing .preview::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
}

.upload-ing .imgs-ing .preview .btn-remove {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 13px;
  color: white;
  height: 20px;
  width: 20px;
  background-color: #ff0000;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}

.upload-ing .imgs-ing .preview .process {
  position: absolute;
  bottom: 0vw;
  left: 0;
  width: 0;
  height: 2vw;
  background-color: #1e90ff;
}

.toast {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.toast-wrapper {
  border-radius: 8px;
  padding: 32px 16px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
